:root{

    font-size: 10px;

    --consoleBG: black;
    --consoleFG: lime;
    --editorBG: white;
    --editorFG: black;
    --bgColorBody: rgb(128, 128, 128);
    --bgColorSections: rgb(82, 82, 82);
    --bgColorMessagebox: rgb(206, 206, 206);

}

* {
    font-family: sans-serif;
    /*padding: 0px;
    margin: 0px;*/
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
  }

body{

    margin: 0;
    padding: 0;

    background-color: var(--bgColorBody);

}

/********************/
/*      HEADER      */
/********************/

header{

    background-color: var(--bgColorSections);

    display: flex;
    justify-content: space-between;

}

h1{

    font-size: 5rem;

    margin: 0;
    margin-left: 3rem;
    color: greenyellow;

}

#playerStatsDiv{

    display: flex;
    justify-content: space-around;

    width: 30%;

    font-size: 2rem;

}

#playerStatsDiv > p{

    width: 18rem;
    color: white;

}


/********************/
/*       MAIN       */
/********************/

main{

    margin: 3rem;
    padding: 2rem;

    height: 80vh;

    display: flex;
    justify-content: space-around;

    background-color: var(--bgColorSections);

    border-radius: 0.5rem;

}

#messageSection{

    background-color: var(--bgColorMessagebox);

    width: 50%;
    height: 96%;

    margin: auto;
    padding: 0px;

    border-radius: inherit;

}

#optionsSection{

    background-color: var(--bgColorMessagebox);

    width: 46%;
    height: 96%;

    margin: auto;
    padding: 0px;

    border-radius: inherit;
    display: flex;
    flex-direction: column;
    
}

/********************/
/*    MESSAGEBOX    */
/********************/

#console {
    background-color:  var(--consoleBG);
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-x: visible;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#textInput{
    color: var(--consoleFG);
    background-color: var(--consoleBG);
    font-size: 24px;
    width: 100%;
    outline: none;
}

#textOutput{
    margin: 0px;
    color: var(--consoleFG);
    font-size: 24px;
    margin-bottom: 1vh;
}

#info {
    background-color: #65ff7e;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#editor {
    background-color: var(--editorBG);
    height: 100%;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    width: 100%;
    outline: none;
    height: 100%;
    font-size: 24px;
    background-color: var(--editorBG);
    color: var(--editorFG);
    padding: 15px;
}

#buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons > p{
    font-size: 2.5em;
    margin: 0px;
}

button{
    height: 7.5vh;
    width: 7.5vh;
    font-size: 5vh;
}

.menuButton{
    height: 3.75vh;
    width: auto;
    font-size: 2vh;
}

#menuButtons {
    display: flex;
}

#messages{

    max-height: 90%;
    max-width: 95%;
    min-height: 90%;
    min-width: 95%;

    display: block;
    margin: 0 auto;

    font-size: 1.5rem;

    overflow-y: auto;

}

#userMessage{

    width: 95%;
    height: 5rem;

    margin: auto;

    display: block;

}



/********************/
/*      FOOTER      */
/********************/

footer{

    font-size: 1.5rem;

    padding: 0.5rem 0;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--bgColorSections);

}

footer > a{

    margin-left: 2rem;
    color: greenyellow;

}